In [11]:
import numpy as np
import pandas as pd
from scipy import stats

In [12]:
data_frame=pd.read_csv('BR-ice-cream.csv')

In [13]:
data_frame

   Baskin-Robin Branches  Ice cream sold
0                      0              12
1                      1              43
2                      2              65
3                      3              87
4                      4              99
5                      5              58
6                      6              97
7                      7              58
8                      8              45
9                      9              98

In [14]:
data_frame.mean()

Baskin-Robin Branches     4.5
Ice cream sold           66.2
dtype: float64

In [15]:
data_frame.median()

Baskin-Robin Branches     4.5
Ice cream sold           61.5
dtype: float64

In [16]:
# Calculate Confidence intervals when Population variance is unknown using t-score 

mean, standard_deviation = data_frame.mean().iloc[1], data_frame.std()[1]

# Sample standard error
standard_error = stats.sem(data_frame)[0] #sem = standard error of means

#population standard error
#standard_error = sigma / np.sqrt(len(data_frame))

#conf_int = stats.norm.interval(0.90, loc=mean, scale=standard_error)
conf_int = stats.t.interval(0.95, len(data_frame)-1, loc=mean, scale=standard_error)

In [17]:
mean

66.2

###  With 95% confidence i can say that number of Ice cream sold of a given branch will exist in this range

In [18]:
conf_int

(64.03414941038662, 68.36585058961339)

In [19]:
standard_deviation

28.924422590990858